# Compiled files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/
.ruff_cache/
.pyre/
.pytype/
.mypy_cache/

# Translations
*.mo
*.pot

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
media/

# Flask
instance/
.webassets-cache

# Scrapy
.scrapy

# Sphinx
docs/_build/

# PyInstaller
*.manifest
*.spec

# pyenv
.python-version

# Pipenv / Poetry / PDM
Pipfile.lock
poetry.lock
__pypackages__/

# Virtual environments
venv/
ENV/
env/
env.bak/
venv.bak/
.venv/

# IDEs / editors
.vscode/
.idea/
.spyderproject
.spyproject
.ropeproject

# Environment variables / secrets
.env
.env.* 

# OS files
.DS_Store
Thumbs.db